.recommendation {
  .header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
      color: #888;
    }

    .refreshButton {
      margin-left: auto;
      background: #eee;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .grid {
    display: flex;
    margin-left: -20px; // gutter size offset
    width: auto;
  }

  .gridColumn {
    padding-left: 20px; // gutter size
    background-clip: padding-box;

    > div {
      margin-bottom: 20px;
    }
  }
}