.toolbar {
  display: flex;
  align-items: center;
  gap: 20px;

  .datePicker {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 20px;
  }

  .itemCount {
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 20px;
  }
}